/* Estilos básicos da página */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ccc;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #222;
    border: 2px solid #8B0000;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

header h1 {
    text-align: center;
    color: #fff;
    padding: 20px;
    margin: 0;
    background-image: linear-gradient(to bottom, #555, #222); 
    border-bottom: 2px solid #8B0000;
}

nav {
    display: flex;
    justify-content: center; 
    background-color: #333;
    border-bottom: 2px solid #8B0000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 25px;
    
    flex-grow: 1; 
}

main h2, main h3 {
    color: #fff;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.game-logo {
    display: block;
    margin: 15px auto;
    max-width: 50%;
    border: 3px solid #444;
}

main p, main li {
    line-height: 1.6;
    font-size: 1.1em;
}

main ol, main ul {
    background-color: #2a2a2a;
    border: 1px solid #444;
    padding: 20px 20px 20px 40px; 
}

.dicas-container {
   
    display: flex;
    justify-content: space-between; 
}

.dica-card {
    background-color: #2f2f2f;
    border: 1px solid #555;
    padding: 15px;
    margin: 10px 5px;
 
    flex-basis: 250px; 
    flex-grow: 1;     
}

.dica-card h4 {
    color: #ffc; 
    margin-top: 0;
    font-size: 1.2em;
}

.dica-card p {
    font-size: 1em;
    margin-bottom: 0;
}

.highlight {
    position: relative;
    top: -1px;
    color: #ffc;
    font-weight: bold;
}

/* --- Rodapé --- */
footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    padding: 15px;
    border-top: 1px solid #444;
    margin-top: 20px; 
}